# Logs
gateway/logs
gateway/*.log
gateway/npm-debug.log*
gateway/yarn-debug.log*
gateway/yarn-error.log*
gateway/pnpm-debug.log*
gateway/lerna-debug.log*
characters/logs
characters/*.log
characters/npm-debug.log*
characters/yarn-debug.log*
characters/yarn-error.log*
characters/pnpm-debug.log*
characters/lerna-debug.log*
films/logs
films/*.log
films/npm-debug.log*
films/yarn-debug.log*
films/yarn-error.log*
films/pnpm-debug.log*
films/lerna-debug.log*
planets/logs
planets/*.log
planets/npm-debug.log*
planets/yarn-debug.log*
planets/yarn-error.log*
planets/pnpm-debug.log*
planets/lerna-debug.log*

# package-lock.json
gateway/package-lock.json
characters/package-lock.json
films/package-lock.json
planets/package-lock.json

#node_modules
gateway/node_modules
characters/node_modules
films/node_modules
planets/node_modules
*node_modules

gateway/dist
gateway/dist-ssr
gateway/*.local
characters/dist
characters/dist-ssr
characters/*.local
films/dist
films/dist-ssr
films/*.local
planets/dist
planets/dist-ssr
planets/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Settings
.env
.env.local  
.env.development.local
.env.test.local
.env.production.local


